html{
    background: #f8ecb5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: min(max(60%,30rem),100%);
    margin-inline: auto;
    min-height: 1rem;
    font-size:clamp(1.2rem, .5vw + 1rem,4rem);
}
label{
    cursor: pointer;
}
input {
    font-size:clamp(1.2rem, 1vw + 1rem,4rem);
}
h2{
    margin-inline: auto;
    text-align: center;
    padding-block: 1.2rem;
}
#szem_adatok, #pizza_adatok{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-inline: auto;
    margin-block-end: 1em;
}
.szemelyes{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap:.5em;
    margin-block-end: 2em;
}
.szemelyes input{
    margin: unset;
    width: 40%;
    text-align: center;
}
.szemelyes label{
    display: block;
    width: 40%;
    margin-inline: auto;
}
.hiba {
    margin-block: -.5em;
    color: tomato;
    font-size:clamp(1rem, .3vw + .5rem,2rem);;
}
.fajtak input{
    width:100%;
    padding: unset;
}
.fajtak{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap:.5em;
    margin-inline: auto;
}
.checkers{
    grid-column: 1 /span  2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#kuldes{
    margin-block:1em;
    margin-inline: auto;
    width: min(50%,8em);
}
h2,p,.lmentes_label{
    user-select: none;
}
.box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width:500px){
    .fajtak{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 70%;
        gap:1em;
    }
    #pizza_fajta{
        grid-row: 2;
    }
    .checkers p{
        width: 100%;
        grid-column: 1;
    }
    #kuldes{
        width: 60%;
    }
}